body {
    width: 500px;
}
/*
.todo-item .btn-remove-todo {
    display:none;
}

.todo-item:hover .btn-remove-todo {
    display: block;
}

.todo-item .todo-content {
    font-weight: bold;
}
.todo-item.completed .todo-content {
    color:darkgray;
    font-weight: normal;
    text-decoration: line-through;
}

#todo-list {
    margin-bottom: 10px;
}

#btn-remove-all {
    margin-bottom: 10px;
}*/

.spacer-20 {
	padding: 10px;
}

.light {
  color: #fff;
}

.dimmedText {
	opacity: 0.5;
}

.notification {
	 text-transform: capitalize;
}

.notification.error{
	color: #dd2c00;
}
.notification.success{
	color: #aeea00;
}

md-input-container .md-input.extractedHighlight {
	background-color: #f7f7f7 !important;
	border: 1px dashed #eee;
}

md-input-container.space-like-textinput:not(:last-child) {
	padding-bottom: 26px;
}


/* material overrides */
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #3F51B5 !important;
    background-color:#3F51B5 !important;
}
