<md-content class="md-padding">
	<p>We prepared some content from the website you currently visit:</p>
	<div class="spacer-20"></div>
	<form name="userForm">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Title</label>
			<input ng-model="preparedIdea.title" ng-class="(extracted.title)?'extractedHighlight':''">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Description</label>
			<input ng-model="preparedIdea.description" ng-class="(extracted.url)?'extractedHighlight':''">
		</md-input-container>


		<md-input-container class="md-block space-like-textinput" flex-gt-sm>
			<label>Campaign</label>
			<md-select ng-model="preparedIdea.campaignId">
				<md-option ng-repeat="cm in campaigns" value="{{cm.id}}">
					{{cm.title}}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block space-like-textinput" flex-gt-sm>
			<label>Channel</label>
			<md-select ng-model="preparedIdea.channelIds" multiple>
				<md-option ng-repeat="ch in channels" value="{{ch.id}}">
					<span icon-container>
			            <img ng-src="{{ch.icon}}" alt="img" />
			        </span> {{ch.title}}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block space-like-textinput" flex-gt-sm>
			<label>Type</label>
			<md-select ng-model="preparedIdea.type">
				<md-option ng-repeat="ty in ideaTypes" value="{{ $index }}">
					{{ty}}
				</md-option>
			</md-select>
		</md-input-container>

	</form>
	<section layout="row" layout-align="end center" layout-wrap>
		<md-button class=" md-primary notification" md-no-ink ng-show="notification.show && !requestPending" ng-class="notification.status" ng-disabled="true">
			{{ notification.type }}
		<span ng-bind="(notification.status == 'success') ? ' added successfully.':' could not be created.'"></span>
		</md-button>

		<md-button class="md-raised md-primary" ng-show="!requestPending && notification.show" ng-click="closeExtension();" ng-disabled="!preparedIdea.title">Close</md-button>
		<md-button class="md-raised md-accent" ng-show="!requestPending && !notification.show" ng-click="createIdea();" ng-disabled="!preparedIdea.title">Save</md-button>
		<md-progress-circular md-mode="indeterminate" md-diameter="36" ng-show="requestPending && !notification.show"></md-progress-circular>
	</section>

</md-content>
