

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Ideas">
        <div ui-view></div>
      </md-tab>
      <md-tab label="Pinboard" ng-disabled="true">
        <div ui-view></div>
      </md-tab>
      <md-tab label="Content" ng-disabled="true">
        <div ui-view></div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
