<md-toolbar class="">
	<div class="md-toolbar-tools">
		<h2>
		<span>dirico<span class="dimmedText">.direct</span></span>
	  </h2>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="More" ng-click="logout()">
			<i class="material-icons light">exit_to_app</i>
		</md-button>
	</div>
</md-toolbar>
<div class='' ui-view ng-cloak>
</div>
