<section layout="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised" ng-click="fakeLogin();">Login</md-button>
    <md-button class="md-raised md-primary">Register</md-button>
</section>
